$color1: rgba(102,51,153,.28);
$color2: #7569b3;
$color3: #639;
$colortxt: #70657b;
$bgcolor: #f8f9fa;
$bgwhite: #fff;

.tour-show{
    display: flex;
    justify-content: space-between;
    .icon-order{
        height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 1px 15px 1px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
        padding: 25px 0px;
        a{
            text-decoration: none;
            color: $color2;
            display: flex;
            align-items: flex-end;
            i{
                font-size: 20px;
                margin-right: 3px;
            }
        }
    }
    .side-left{
        flex-basis: 20%;
        .filter{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            p{
                flex-basis: 100%;
            }
            button{
                text-transform: capitalize;
                flex-basis: 40%;
                background: $color2;
                padding: 5px 12px;
                color: #fff;
                margin-bottom: 5px;
                margin-right: 2%;
            }
        }
        .details{
            padding-bottom: 5px;
            span{
                font-weight: 300;
            }
            p{
                margin: 0;
                font-size: 13px;
                font-weight: 300;
                padding-top: 5px;
            }
        }
        p{
            margin-top: 10px;
        }
        .tour-main-nav{
            list-style: none;
            padding-left: 0;
            li{
                padding-bottom: 18px;
                font-weight: 300;
                cursor: move;
                i{
                    color: $color2;
                }
                a{
                    text-decoration: none;
                    color: $color2;
                }
            }
        }
    }
    .side-right{
        flex-basis: 38%;
        display: flex;
        box-shadow: 0 1px 15px 1px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
        border-radius: 10px 0px 0px 10px;
        overflow: hidden;
        flex-direction: column;
        margin-bottom: 20px;
        .frist-sidebar{
            flex-basis: 100%;
            border-right: 1px solid #eee;
            z-index: 15;
            .drag-sort-active {
                background: #cde2f8;
            }
            .tour-item{
                display: flex;
                height: 80px;
                border-bottom: 1px solid #eee;
                cursor: pointer;
                align-items: center;
                padding: 0px 15px;
                .image{
                    img{
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }
                }
                .details{
                    flex: 1;
                    margin-left: 8px;
                    span{
                        font-weight: 300;
                    }
                    p{
                        margin: 0;
                        font-size: 13px;
                        font-weight: 300;
                        padding-top: 5px;
                    }
                }
                .trip-details{
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    span{
                        font-weight: 300;
                        font-size: 14px;
                    }
                    p{
                        margin: 0;
                        font-size: 13px;
                        font-weight: 300;
                        padding-top: 5px;
                    }
                }
                &:last-child{
                    border-bottom: 0px solid #eee;
                }
                &:hover{
                    background: #f8f9fa;
                }
            }
            .active{
                background: #eee;
            }
        }
    }
    .secondary-sidebar{
        flex-basis: 43%;
        box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
        border-radius: 0px 10px 10px  0px;
        z-index: 20;
        margin-bottom: 20px;
        .detalis{
            ul{
                padding: 0;
                margin: 0;
                li{
                    border-bottom: 1px solid #7569b3; 
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .stop-number{
                        display: flex;
                        justify-content: space-between;
                        flex-basis: 40%;
                        border-right: 1px solid #eee;
                        padding: 15px 10px 15px 10px;
                    }
                    .stop-time{
                        display: flex;
                        justify-content: space-between;
                        flex-basis: 48%;
                        border-right: 1px solid #eee;
                        padding: 15px 10px 15px 10px;
                        i{
                            padding-right: 5px;
                            color: #7569b3;
                        }
                    }
                    a{
                        flex-basis: 12%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                    }  
                    .address{
                        padding: 15px 10px 15px 10px;
                        width: 100%;
                        border-top: 1px solid #eee;
                        p{
                            margin:0;
                        }
                    }
                }
            }
        }
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .tour-show{
        flex-wrap: wrap;
        .side-left{
            flex-basis: 100%;
            .filter{
                width: 50%;
            }
            button{
                width: 25%;
            }
        }
        .side-right{
            flex-basis: 100%;
            flex-wrap: wrap;
            border-radius: 10px;
            height: 100% !important;
            .tour-item .image{
                display: none;
            }
        }
        .secondary-sidebar{
            flex-basis: 100%;
            border-radius: 10px;
            margin-top: 18px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .tour-show{
        flex-wrap: wrap;
        .side-left{
            flex-basis: 100%;
            .filter{
                width: 50%;
            }
            button{
                width: 25%;
            }
        }
        .side-right{
            flex-basis: 100%;
            flex-wrap: wrap;
            border-radius: 10px;
            height: 100% !important;
        }
        .secondary-sidebar{
            flex-basis: 100%;
            border-radius: 10px;
            margin-top: 18px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .tour-show{
        flex-wrap: wrap;
        .side-left{
            flex-basis: 30%;
            button{
                width: 25%;
            }
        }
        .side-right{
            flex-basis: 70%;
            flex-wrap: wrap;
            border-radius: 10px;
            height: 100% !important;
        }
        .secondary-sidebar{
            flex-basis: 100%;
            border-radius: 10px;
            margin-top: 18px;
        }
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .tour-show .side-right .frist-sidebar .tour-item .image{
        display: none;
    }
    .tour-show .side-left{
        flex-basis: 13%;
    }
    .tour-show .side-left .filter button{
        flex-basis: 90%;
    }
    .tour-show .side-right{
        flex-basis: 40%;
    }
    .tour-show .secondary-sidebar{
        flex-basis: 47%;
    }
}