@import '../../mixins';
@import 'package';
.create-order-container {
    display: flex;
    flex-wrap: wrap;

    .order-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%; //styles part
        background: $boxColor;
        margin: 10px auto;
        padding: 0 10px;
        border-radius: $borderRadius;
        // box-shadow: 5px 5px 5px 0px rgba(88, 84, 84, 0.5);
        color: $textColor;

        .order-data-box {
            display: flex;
            min-width: 33%;
            flex-grow: 1;
            margin: 10px auto;

            img,
            svg {
                width: 50px;
                height: 50px;
            }

            .order-data-info {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin: 0 10px;
            }
        }
    }

    .form-map-container {
        width: 100%;
        display: flex;
        // align-items: flex-start;
        flex-wrap: wrap;
        color: $textColor; // border-radius: 20px;
        justify-content: space-between;
        margin-bottom: 20px;

        .order-form-wrapper {
            display: flex; // align-items: center;
            flex-grow: 2;
            min-width: 476px;
            background: $boxColor;
            // box-shadow: 5px 5px 5px 0px rgba(88, 84, 84, 0.5);
            max-width: 74%; // height: 530px;
            max-width: calc(74% - 5px); // height: 530px;
            border-radius: $borderRadius;
            // margin: 0 5px;
            flex-direction: column;

            &.horozintal {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
            }

            @media screen and (max-width: 830px) {
                margin: 10px auto;
                min-width: 100%;
                max-width: 100%;
                order: 2;
            }

            .wizard-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin: 10px;
                margin-bottom: 0;
                border-radius: 10px;
                overflow: hidden;

                .wizard-box {
                    flex: 1;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;

                    &.active {
                        .wizard-image {
                            background: #f6ab36;

                        }

                        span {
                            color: #f6ab36;
                        }
                    }

                    .wizard-image {
                        height: 40px;
                        padding: 5px;
                        border: 1px solid #fff;
                        border-right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(119, 116, 116, 0.5);
                        width: 100%;
                        transition: .3s linear;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 600;
                        color: #222222;
                        transition: .3s linear;
                    }

                    &:last-child {
                        .wizard-image {
                            border-right: 1px solid #fff;
                            border-radius: 0 10px 10px 0;
                        }

                    }

                    &:first-child {
                        .wizard-image {
                            border-radius: 10px 0 0px 10px;
                        }
                    }

                    img {
                        max-width: 30px;
                        max-height: 30px;

                    }
                }
            }

            form {
                display: flex; // align-items: center;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;

                padding: 10px;
                transition: .3s;
                opacity: 0;

                &.shown {
                    opacity: 1;
                }

                .order-pricing {
                    position: relative;
                    min-height: 220px;
                    // flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    max-height: 450px;

                    @media screen and(max-height: 450px) {
                        max-height: 450px;
                    }

                    overflow-y: auto;

                    .car-image {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        position: relative;
                        min-width: 195px;
                        margin: 2.5px 2px;

                        img {
                            width: 50px;
                            height: 50px;
                        }


                    }

                    .loading-small {
                        position: absolute;
                        top: 0;
                        left: 5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90%;
                        height: 100%;
                        background: rgba(0, 0, 0, .5);

                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }

                .goods-descripe {
                    display: flex;
                    flex-wrap: wrap;
                    font-family: 'Raleway', sans-serif;

                    &.goods-wizard {

                        justify-content: center;
                        align-items: center;
                        align-self: center;
                        transition: .3s;
                        width: 100%;
                        max-width: 100%;

                        margin-bottom: 15px;

                        .goods-wizard-child {
                            background: rgba(119, 116, 116, 0.5);
                            flex: 1;
                            max-width: 250px;
                            padding: 10px;
                            border-radius: 10px;
                            margin: 5px;
                            text-align: center;
                            cursor: pointer;
                            border: 1px solid #ffffff;
                            box-shadow: 5px 5px 5px 0px rgba(88, 84, 84, 0.5);
                            color: #ffffff;

                            &.active {
                                background: #f6ab36;
                            }

                            &.with-error {
                                span.error-counter {
                                    animation-name: pulse;
                                    animation-duration: .5s;
                                    animation-iteration-count: 2;
                                }
                            }

                        }
                    }

                    .goods-descripe-head {
                        font-size: 18px;
                        width: 100%;
                        padding-left: 5px;
                        color: $textColor;
                        font-weight: 500;

                        position: relative;

                        &::after {
                            display: block;
                            height: 2px;
                            background: #f6ab36;
                            width: 35%;
                            position: absolute;
                            left: 5px;
                            bottom: -3px;
                            content: '';
                        }
                    }
                }

                .goods-descripe,
                .order-pricing {
                    flex-grow: 1;
                    min-width: 381px;
                    max-width: 50%;

                    @media screen and(max-width: 1120px) {
                        min-width: auto;
                        max-width: 100%;
                        width: 100%;
                    }

                    @media screen and(max-width:830px) and(min-width:667px) {
                        max-width: 50%;
                    }
                }
            }

            .input-parent{
                @include inputParentStuff();
            }
        }

        .input-parent-triple {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            flex-direction: column;
            width: 100%;
            font-size: 14px;

            .inputs-wrapper {
                display: flex;
                width: 100%;

                .small-input {
                    margin: 0 5px;
                    flex: 1;
                    padding: 1.5px;
                    border: 1.5px solid $borderColor;
                    border-top: 0;

                    &:first-child {
                        margin-left: 0;
                        border-bottom-left-radius: 10px;

                        input {
                            border-bottom-left-radius: 10px;
                        }

                    }

                    &:last-child {
                        margin-right: 0;
                        border-bottom-right-radius: 10px;

                        input {
                            border-bottom-right-radius: 10px;
                        }
                    }

                    input.with-error {

                        margin: 0;
                        flex: auto;
                        background: rgba(220, 53, 69, .5);
                        transition: .3s;
                    }

                    input {
                        padding-right: 0;
                        flex: 1;
                        width: 100%;
                        // background: rgba(0, 0, 0, .5);
                        border: 0;
                        color: $textColor;
                        font-size: 14px;
                        padding-left: 10px;
                        height: 35px;

                        &:focus,
                        &:active {
                            outline: none;
                        }



                    }
                }
            }

            span {
                width: 100%;
                background: $inputSpanColor;
                color: $textColor;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 5px;
                border: 1.5px solid $borderColor;

                @media screen and(max-width: 776px) {
                    font-size: 13px;
                }
            }

            span.error-span {
                width: auto;
                width: 100%;
                background: #E2574C;
                // flex: 1;
                border-top: 1px solid #fff;
                font-size: 12px;
                margin-bottom: 10px;
                border-radius: 0;
                transition: .3s;

            }



        }

        

        .order-info-form {
            display: flex;
            flex-direction: column;
            flex-grow: 1; // min-width: 300px;
            max-width: 24%;

            &::-webkit-full-screen,
            &::-moz-full-screen,
            &::-ms-fullscreen,
            &:fullscreen {
                background: $backgroundColor !important;
            }

            &.full-screen-shown {
                background: $backgroundColor !important;




                .order-pricing-full-screen {
                    position: absolute;
                    bottom: 27px;
                    left: 4.5px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    width: 66px;
                    padding: 3.5px;
                    border-radius: 10px;
                    background: #ffffff;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

                    img,
                    svg {
                        max-width: 40px;
                    }

                }

                .from-to-info {
                    margin-bottom: 0;
                    border-radius: 0;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
                    z-index: 1;
                    flex-direction: row;
                    flex-wrap: wrap;
                    min-height: 70px;


                    .from-info-box {
                        background: $inputSpanColor;
                        border: 1.5px solid $borderColor;
                        border-radius: $borderRadius;
                        flex: 1;
                        min-width: 300px;
                        margin: 10px;
                        padding: 5px;

                        @media screen and(max-width: 830px) {
                            &:first-child {
                                padding-right: 5px;
                            }
                        }

                        input {
                            background: #ffffff;
                            width: 100%;
                            height: 40px;
                            flex: 1;
                            border-radius: 10px;
                            padding-left: 10px;
                            border: 0;

                            &:focus,
                            &:active {
                                outline: none;
                            }
                        }
                    }
                }

                .map-element {
                    border-radius: 0;

                    .vue-map-container {
                        border-radius: 0;

                        .vue-map {
                            border-radius: 0;
                        }
                    }
                }
            }


            @media screen and(max-width: 830px) {
                order: 1;
                max-width: 100%;
                margin: 10px auto;
                box-shadow: 5px 5px 5px rgba(88, 84, 84, 0.5);
            }

            border-radius: $borderRadius;
            margin: 0 5px;
            margin-right: 0;
            background: transparent;
            position: relative;

            .show-map {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                display: none;

                &.md {
                    display: block;
                    top: 10px;
                    right: 2.5px;

                    img,
                    svg {
                        width: 30px;
                        height: 30px;
                        padding: 2.5px;
                    }
                }

                @media screen and(max-width: 830px) {
                    display: block;

                    &.md {
                        display: none;
                    }
                }

                img {
                    width: 45px;
                    height: 45px;
                    padding: 5px;
                }
            }

            .from-to-info {
                display: flex;
                flex-direction: column;
                border-radius: $borderRadius;
                min-height: 60px;
                background: $boxColor;
                margin-bottom: 10px;

                .from-info-box {
                    display: flex;
                    margin: 10px auto;
                    padding: 0 10px;
                    width: 100%;
                    flex-wrap: wrap;

                    @media screen and(max-width: 830px) {
                        &:first-child {
                            padding-right: 40px;
                        }
                    }

                    // justify-content: center;
                    align-items: center;

                    .from-info-box-data {
                        flex: 1;
                        align-items: center;
                        display: flex;
                        margin: 0 10px;
                    }

                    img,
                    svg {
                        width: 40px;
                        height: 40px;
                        padding: 5px;

                        path {
                            fill: #ffde57;
                        }
                    }
                }
            }

            .map-element {
                // margin: 0 2.5px;
                flex: 1;
                min-height: 300px;
                border-radius: 5px;
                overflow: hidden;
                position: relative;



                .full-screen {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 10;
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    padding: 10px;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
                    border-radius: 2px;
                }

                @media screen and (max-width: 830px) {
                    height: 0;
                    min-height: 0;
                    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }


            }

            .vue-map-container {
                .vue-map {
                    border-radius: 20px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                border-radius: 20px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}

.form-div {
    width: 100%;
    flex: 1;

    button {
        background: #f6ab36;
        color: #fff;
        cursor: pointer;
        border: 0;
        padding: 5px;
        border-radius: 10px;
        font-size: 18px;
        text-align: center;
        width: 100%;

        &:focus,
        &:active {
            outline: none;

        }
    }
}

.loading-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    margin-top: 110px;

    img {
        width: 300px;
        height: 300px;
        max-width: 75%;

    }

}

.notFoundDiv {
    // width: 100%;
    min-height: 500px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 5px 0px rgba(88, 84, 84, 0.5);

    img {
        width: 300px;
        height: 300px;
        margin: 0 auto;

    }

    h3 {
        width: 100%;
        text-align: center;
        color: #eee;
    }
}

.fixedError {
    position: fixed;
    border-radius: 10px;
    padding: 5px;
    top: 10px;
    right: 10px;
    max-width: 100%;
    font-size: 12px;
    background: #E2574C;
    color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    img {
        width: 25px;
        height: 25px;
    }
}

.vehicle-slider {
    background: rgba(255, 255, 255, .9);
    color: #222222;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;

    .vehicle-name {
        text-align: center;
    }

    .vehicle-dimenstions {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        flex: 1;

        span {
            margin: 0 5px;
            background: $inputSpanColor;
            padding: 2.5px 5px;
            color: $textColor;
            border-radius: $borderRadius;
            border: 1px solid #ffffff;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);

        }
    }

    .vehicle-cost {
        // margin: 5px;
        // text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        .cost-field {
            border-radius: 0 20px 20px 0;
            box-shadow: 2px 3px 5px #ccc;
            box-shadow: 2px 3px 5px #ccc;
            padding: 5px;
            padding-right: 15px;
            background: rgba(0, 0, 0, .5);
            color: rgb(255, 222, 87);
            text-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
        }

        i {


            /* padding-left: 10px; */
            // border-radius: 0 50% 50% 0;



        }

        span {}
    }

    .vehicle-image {
        // position: relative;
        display: flex;
        justify-content: center;

        .vehicle-images-wrapper {
            position: relative;
        }

        $bounce: cubic-bezier(.5, 0, 0, 1.5);
        $bounce-lg: cubic-bezier(.5, 0, 0, 3);
        $duration: 0.15s;

        .checkbox {
            $size: 20px;

            width: $size;
            height: $size;
            cursor: pointer;
            border-radius: ($size);
            display: block;
            background-color: rgba(0, 0, 0, 0.25);
            // margin: 20px;
            transition: all $duration $bounce;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);

                &:after {
                    color: white;
                }
            }

            &:after {
                line-height: $size - 1;
                font-family: "FontAwesome";
                display: block;
                content: "";
                color: rgba(255, 255, 255, 0.5);
                text-align: center;
                width: 100%;
                height: 100%;
                transform: scale(0.5);
                border-radius: 100%;
                font-size: $size * .75;
                transition: all $duration $bounce, font-size 0.35s $bounce-lg;
            }

            &.is-checked:after {
                transform: scale(1);
                font-size: $size * .75;
                color: rgba(255, 255, 255, 1);
            }

            &.is-checked:hover:after {
                transform: scale(1.1);
            }
        }

        .check {
            &:after {
                content: "\f00c";
                background-color: rgba(165, 194, 92, 0);
            }

            &.is-checked:after {
                background-color: rgba(165, 194, 92, 1);
            }
        }

        li.check {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            // background-color: #fff;
            border-radius: 100%;
        }

        img {
            width: initial;
            display: block;
            margin: 0 auto;
            max-height: 70px;
            max-width: 100%;
        }
    }
}

.order-pricing,
.stops-wrapper {

    .carousel-3d-slide {
        border-radius: 10px !important;
    }
}



@keyframes pulse {

    0%,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0)
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -30px, 0)
    }

    70% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -15px, 0)
    }

    90% {
        transform: translate3d(0, -4px, 0)
    }
}

.kurier-check {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    transition: 3.3s;

    &+label {
        position: relative;
        cursor: pointer;
        padding: 0px;
        margin: 0;

        font-size: 18px;
        font-weight: normal;
        transition: 0.5s;
        color: #ffde57;
    }

    // Box.
    &+label:before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: transparent;
        border: 2px solid #ffde57;
        border-radius: 5px;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), 2px 2px 2px rgba(0, 0, 0, .5);
        margin-left: 5px;
        transition: 0.5s;
    }

    // Box hover
    &:hover+label:before {
        // background			: $ColorContItemHover;
    }

    // Box focus
    &:focus+label:before {
        // box-shadow			: inset 0 0 2px rgba(0, 0, 0, .4);
    }

    // Box checked
    &:checked+label:before {
        // background		: #ffde57;
    }

    // Disabled state label.
    &:disabled+label {
        color: rgba(0, 0, 0, .4);
        cursor: auto;
    }

    // Disabled box.
    &:disabled+label:before {
        box-shadow: none;
        // background: rgba(0, 0, 0, .4);
    }

    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '✔';
        position: absolute;
        left: 8px;
        top: 0px;
        color: #ffde57;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        width: 0px;
        height: 0px;
    }
}

// .pac-container,
// .pac-item {
//     z-index: 2147483647 !important;
// }